body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-image: url("background1.jpg");
    background-size: cover;
    background-position: center;
}
.Foods {
    width: 50%;
    margin: 50px auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 50px;
    float: left;
}
h1 {
    text-align: center;
    color: rgb(237, 132, 33);
    font-size: 30px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th,td {
    border: 1px solid black;
    padding: 12px 15px;
    font-size: 20px;
}

th {
    background-color: #eb9345;
    color: white;
    text-align: center;
}
td:first-child {
    text-align: center;
}
td:nth-child(2) {
    text-align: left; 
    padding-left: 6.8cm;
}
tr:nth-child(odd) {
    background-color: #e5c495;
}
tr:hover {
    background-color: #ffe4b5;
    cursor: pointer;
}
