body {
    font-family: 'Times New Roman', serif;
    background-color: #f0f8ff;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

form {
    width: 500px;
    background-color: #fff; 
    border-radius: 10px;
    padding: 40px;
    margin: 0;
}

h1 {
    text-align: center;
    color: #003366; 
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="file"]:focus {
    border-color: #66afe9;
    outline: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius:5px;
    font-size: 18px;
    cursor: pointer;
}

.center {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Style cho các thông báo lỗi hoặc thông báo thành công */
form p {
    font-size: 14px;
    color: #d9534f;
    text-align: center;
    margin-top: 20px;
}
